{% extends "base.html" %}

{% block content %}
    


<h1> {{maam}}'s Posted Blogs</h1>
{% if blogs|length == 0 %}
<p>No blogs yet</p>
{% else %}

    <ul>
        {% for blog in blogs %}
        <li> <a href="/blog?id={{blog.id}}">{{blog.name}}</a>
           
        </nav>
            <form method="POST"  style="display:inline-block;">
                <input type="hidden" name="task-id" value="{{blog.name,blog.content}}" />
            </form>
        </li>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %}